@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #000b1a;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #001642;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000c4e;
}

.blur-backdrop-filter {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

html {
    overflow-x: hidden;
    background: #071130 50%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, #01010c 0%, #071130 50%, #000522 100%);
    background-size: 300% 300%;
    animation: gradient 60s ease infinite;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%; /* Ensure content doesn't surpass screen width */
}

.fam-security {
    background: linear-gradient(90deg, #ffd000 0%, #fbff00 100%);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    max-width: 100%;
    -webkit-text-fill-color: transparent;
}

/* Add this to your CSS */
.content-container {
    overflow-y: visible;
    max-width: 100%;
    margin: 0 auto;
}


.gradient-light {
    background: linear-gradient(90deg, #ffe600 0%, #ff7300 100%);
    animation: gradient 60s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-lightArrow {
    background: linear-gradient(90deg, #009196 0%, #0041b9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hided {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
    transform: translateX(-100%);

    
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}