@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #000b1a;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #001642;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000c4e;
}

.blur-backdrop-filter {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

html {
    overflow-x: hidden;
    background: #071130 50%;
}

body {
    background: linear-gradient(45deg, #01010c 0%, #071130 50%, #000522 100%);
    background-size: 300% 300%;
    animation: gradient 60s ease infinite;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%; /* Ensure content doesn't surpass screen width */
}

.fam-security {
    background: linear-gradient(90deg, #ffbb00 0%, #ffffff 100%);
    background-size: 500% 500%;
    animation: gradient 1s ease infinite;
    -webkit-background-clip: text;
    max-width: 100%;
    -webkit-text-fill-color: transparent;
}

.content-container {
    overflow-y: visible;
    max-width: 100%;
    margin: 0 auto;
}


.gradient-light {
    background: linear-gradient(90deg, #ffe600 0%, #ff7300 100%);
    animation: gradient 60s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-lightArrow {
    background: linear-gradient(90deg, #009196 0%, #0041b9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hided {
    opacity: 0;
    filter: blur(10px);
    transition: all 0.8s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.ToUp {
    opacity: 0;
    filter: blur(10px);
    transition: all 0.8s;
    transform: translateY(100%);
}

.ToUpAnimate {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.Fade {
    opacity: 1;
    filter: blur(15px);
    transition: all 0.7s;
}

.FadeAnimate {
    opacity: 1;
    filter: blur(0px);
}

  .navbar-enter {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .navbar-enter-active {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  #navBarId {
    animation: nav 300ms;
  }

  .nav {
    opacity: 1;
        filter:blur(10px);
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .nav.animate {
    opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  @keyframes hero{
    0% {
        opacity: 0;
        filter:blur(10px);
        transform: translateY(20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  #heroId {
    animation: hero 300ms ease-in;
  }