@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-backdrop-filter {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.background-animate {
    background-size: 100%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .gradient-text {
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
    --tw-gradient-from: #ffee00;
    --tw-gradient-to: rgb(255, 255, 255);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #ff0000;
    background-clip: text;
    color: #ffffff00;
    -webkit-background-clip: text;
}